
<section id="header">
    <header>
        <span class="image avatar"><img src="assets/images/avatar.jpg" alt="" /></span>
        <h1 id="logo"><a href="#">Ankush Japra</a></h1>
        <p>AWS Cloud Practitioner Certified  Python |  Web Developer <br />
Seeking Opportunities</p>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="#one">About</a></li>
            <li><a href="#two">Services</a></li>
            <li><a href="#three">Projects</a></li>
            <li><a href="#four">Contact Me</a></li>
        </ul>
    </nav>
   
</section>  
