<head>
    <title>Ankush Japra</title>
<base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/src/styles.css" />
</head>
<section id="one">
    <div id="wrapper">
    <div id="main">
    <div class="image main" data-position="center">
        <img src="assets/images/banner.jpg" alt="" />
    </div>
    <div class="container">
        <header class="major">
            <h2><a href="https://www.linkedin.com/in/ankushjapra">Ankush Japra</a></h2>
        </header>
        <p>I possess expertise in Python, Core JAVA, Android, HTML, CSS, C, C++, Object-Oriented Programming, SQL, Data Structures, Web development, 
            Software development, Cloud Computing, and Database systems as an AWS Certified Cloud Practitioner and recent IT graduate </p>
    </div>
    </div>
    </div>
</section>