<section id="three">
    <div id="wrapper">
    <div id="main">
    <div class="container">
        <h3>A Few Accomplishments</h3>
        <p>Following are my few projects and accomplishments </p>
        <div class="features">
            <article>
                <a href="https://aaaliquidationcentre.com/" class="image"><img src="assets/images/pic01.jpg" alt="" /></a>
                <div class="inner">
                    <h4>AAA Liquidation</h4>
                    <p>AAA Liquidation is one of my client. Whoes website is developed by me and still running. 
                        I manage the Inventory as well as the ordering system </p>
                </div>
            </article>
            <article>
                <a href="https://www.shopify.com/ca" class="image"><img src="assets/images/pic02.jpg" alt="" /></a>
                <div class="inner">
                    <h4>Shopify</h4>
                    <p>Few of my websites i design for my clients are running on Shopify.</p>
                </div>
            </article>
            <article>
                <a href="https://www.linkedin.com/in/ankushjapra" class="image"><img src="assets/images/pic03.jpg" alt="" /></a>
                <div class="inner">
                    <h4>Linkedin</h4>
                    <p>You can checkout my Linkedin profile for more information regarding projects.</p>
                </div>
            </article>
        </div>
    </div>
    </div>
    </div>
</section>
