<section id="two">
    <div id="wrapper">
        <div id="main">
    <div class="container">
        <h3>Things I Can Do</h3>
        <p>I am a recent graduate with a Post Graduate Diploma in Software Engineering Technician from Centennial College, 
            a Post Graduate Diploma in Project Management from Loyalist College, and a Master of Information Technology from Macquarie University,
             achieving a WAM of 71.176.</p><p> I have following skill set </p>
        <ul class="feature-icons">
            <li class="icon solid fa-code">AWS</li>
            <li class="icon solid fa-cubes">Java</li>
            <li class="icon solid fa-book">Python</li>
            <li class="icon solid fa-coffee">SQL</li>
            <li class="icon solid fa-bolt">Web development</li>
            <li class="icon solid fa-users">Cloud Computing</li>
        </ul>
    </div>
    </div>
    </div>
</section>